/* Using flexBox in html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* how width and height of an element is calculated */
    /* when you add padding or border to element that is not for entire width */
}

body {
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;

}

header {
    height: 100pz;
    display: flex;
    /* header is container */
    justify-content: space-around;
    /* it will add equal space between logo and nav bar */
    align-items: center;
    /* center vertically */
}

ul {
    display: flex;
    /* all list items aligned side by side */
    list-style: none;
    align-items: center;

}

ul li a {
    padding: 0 20px;
    /* top and bottom and right and left */
    text-decoration: none;
    color: rgb(207, 56, 207);
    display: inline-block;
    /* to make underline particularlu under each element */
}

/* hover effect */
li a::after {
    content: '';
    /* Displays an element as a block element. It starts on a new line, and takes up the whole width */
    display: block;
    height: 4px;
    width: 0;
    background: #f39e9e;
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    /* border: 2px solid black; */
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    /* to place left and right contents side by side */

}

.hero-img {
    max-width: 670px;
    margin-left: 30px;
    border-radius: 145px;
    /* height: auto; */

}

.content-left {
    width: 30%;
    /*Content of left shifted aside by 30% of complete block element*/
}

main h1 {
    font-size: 35px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main h2 {
    font-size: 25px;
    color: yellowgreen;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 20px 0;
    /* top and bottom right and left */
}

.cta {
    padding: 15px 30px;
    background: #021196;
    color: rgb(238, 255, 151);
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
}

.signup-btn {
    padding: 5px 20px;
    background: #5af9ff;
    color: rgb(150, 0, 0);
    outline: none;
    border: 2px solid rebeccapurple;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px;
}

.signup-btn:hover{
    background: whitesmoke;
}

.logo{
    padding: 20px 0px;
}

#logoImg{
    border-radius: 50%;
    border: 1px solid black;
    height: 122px;
    width: 145px;
}